*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
.container {
  width: 320px;
  /* max-width: 1158px; */
  padding-left: 15px;
  padding-right: 15px;
  /* margin-left: auto;
  margin-right: auto; */
  
  
  
}
.links{
  display: flex;
  justify-content: space-between;
}
.informations{
  padding: 120px 0 ;

  width: 100%;
  display: flex;
justify-content: flex-start;
flex-direction: column;

}
.navs{
  display: flex; 
  align-items: center;
}
.header{
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
}
.header a {
  padding-top: 24px;
  padding-bottom: 24px;
  display:block;
}

.logo-header {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo-header-two {
  color: var(--NAVY-BLUE, #2e2f42);
  
}
.logo-header:hover,
.logo-header:focus {
  color: #404bbf;
}
address {
  font-style: normal;
}
.page-link .link:hover,
.page-link .link:focus {
  color: #404bbf;
}
.page-link{
  display:flex;
  gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.contacts{
  display: flex;
  gap: 40px;
  
}
.link {
  color: #2e2f42;
}
.logo-header .logo-header-two:hover,
.logo-header .logo-header-two:focus {
  color: #404bbf;
}
.link-contacts {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.link.current-link::after { 
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  background: #404BBF;
  width: 100%;
  height: 4px;
}

.link.current-link { 
  position: relative;
  color: #404BBF;
}

.link-contacts:hover,
.link-contacts:focus {
  color: #404bbf;
}

.link {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.main-information {
  background-color: #2e2f42;
  /* background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
  url(/images/people-office.jpg); */
     background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
  url(/images/Dark-bg\(2\).jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 188px 0;
   /* max-width: 1440px;  */
   background-position: center;
   margin: 0 auto;
 
}
.main-strategy {
  font-weight: 500;
  /* font-size: 20px; */
  font-size: 36px;
  /* line-height: 1.2; */
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px; 
}
@media (max-width: 320px){
  .main-strategy{
    text-align: center;
    color: #2e2f42;
    font-weight: 700;
    
  }
}
.link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  
}

.main {
  background: var(--NAVY-BLUE, #2e2f42);
  

  font-family: Roboto;
  flex-shrink: 0;
}
.main-h {
  /* font-size: 56px;
  line-height: 1.07;
  text-align: center;
margin: 0 auto 48px; */
/* max-width: 496px; */
font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #ffffff;
max-width: 216px;
margin: 0 auto 72px;
}
.button-main-order {
  background-color: #4d5ae5;

  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-main-order:hover,
.button-main-order:focus {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



.h-team  {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
  text-align: center;
  margin-bottom: 72px;
}
.img-teams{
  display: flex;
justify-content: flex-start;
flex-direction: column;
  gap: 24px;
  width: 100%;
  
  
  
}
.img-team{
  border-radius: 0px 0px 4px 4px;
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.h-portfolio {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}
.information-paragraph {
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 150%;
  margin: auto;
display: flex;
flex-direction: column;
align-items: center;
}
@media (max-width:320px){
  .information-paragraph{
    font-weight: 500;
  }
}
.main-team {
  background-color: #f4f4fd;
  padding: 120px 0  ;
  width: 320px;
}

.main-description  {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02px;
  gap: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
  
}

.main-personal{
  padding: 32px 0 ;
}

.app{
  padding: 32px 16px;
    border: 1px solid #e7e9fc; 
    border-top: none; 
    
}
.description-page{
  /* width: calc((100% - 72px) / 4); */
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;

 
}

.portfolio-abzac {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
margin-bottom: 8px;
}
.main-site-app {
  width: calc((100% - 48px) / 3);
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-site-apps{
   display: flex;
   flex-wrap: wrap;
   column-gap: 24px;
   row-gap: 48px;
}
.team-paragraph {
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
text-align: center; 
margin-bottom: 8px ;
}
.site-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.site-apps {
  padding-top: 120px;
  padding-bottom: 120px; 
}

.team-name {
  line-height: 1.2;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center; 
}
.name-personal{
  padding: 32px 0;
}
.img-team {
  lightgray -128.784px -0.151px / 197.563% 133.752% no-repeat;
  background-color: #ffffff;
  /* width: calc((100% - 72px) / 4); */
  display: flex;
  align-items: center;
  flex-direction: column;
}
.site-abzac {
  line-height: 1.2;
}
footer {
  background: var(--NAVY-BLUE, #2e2f42);
  padding: 100px 0 ;
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block; 
    margin-bottom: 16px;
}
.footer-logo-studio {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.54px;
}
.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  margin-bottom: 16px;
  
}
.site-appss{
  position: relative;
  overflow: hidden;
}
.main-site-app:hover{
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.app-site{
 position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: translateX(-100%);
  transition: transform 250ms ease-in-out;
  background-color: #404bbf;
}
.main-site-app{
  display: flex;
  width: calc((100% - 48px) / 3);
  flex-direction: column;
  flex-shrink: 0;
  background: #FFF;
}
.main-site-app:hover .site-app{
  transform: translateY(0);
}
.site-app-p{
  color: #F4F4FD;
  line-height: 24px;
  letter-spacing: 0.32px;
  padding: 40px 32px 0 32px;
}
.svg-li{
display: flex; 
justify-content: center;
width: 40px;
height: 40px;
 gap: 16px;


}
.link-svg:hover,
.link-svg:focus{
  background-color:#404bbf;
}
.icon-svg-li{
  width: 40px;
  height: 40px;
  
}
.icon{
  width: 64px;
  height: 64px;
}
.link-svg{
  width: 100%;
  height: 100%;
  background-color:#4d5ae5;
  border-radius: 50%;
   display: flex;
   align-items: center; 
   justify-content: center;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    gap: 16px;
   

}
.svg{
  fill:#f4f4fd;
}
.icon-svg-info{
  /* display: flex; */
  /* align-items: center; */
   /* justify-content: center; 
   height: 100%; */
   /* background-color: #f4f4fd; */
    /* border-radius: 4px; */
    /* margin-bottom: 8px; */
    
    
}
.svg-ul{
  display: flex;
   justify-content: center;
   gap: 24px; 
   margin: 12px ;
}
.svg-ul:hover{
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-svg{
  padding: 32px 0;
  display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 8px;
}
.overlay{
  position: relative;
  overflow: hidden ;
  
}
.text-banking{
  position: absolute;
  top:0;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5; 
   letter-spacing: 0.02em;
   background-color: #4d5ae5;
    width: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    
}
.main-site-app:hover .text-banking{
transform: translateY(0);
}
.footer-container{

 margin-right: 120px;
}
.icons-footer .link-svg:hover,
.icons-footer .link-svg:focus{
  background-color:#31D0AA;
}
.icons-footer .link-svg{
  display: flex;
   align-items: center; 
   justify-content: center;
    gap: 16px; 
  
}
.footer-ul{
  display: flex;
   justify-content: center;
    gap: 16px;
   margin: 12px ;
}
.footer .container{
  display: flex;
  align-items: baseline;

}
.social-media{
  color:#ffffff;
  font-weight: 500;
  line-height: 1.5;
   letter-spacing: 0.02em;
   margin-bottom: 16px;
}
.footer-ul .link-svg{
  gap: 16px; 
}

.footer-email{
  margin-left:auto;
}
.email-text{
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px; 
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  bottom: 40px;
  
}
.email-form{
  display: flex;
  gap: 24px;
  
}
.email-input{
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff; 
  
}
::placeholder{
  color: #ffffff; 
}
.email-footer-button{
  color: #ffffff; 
  min-width: 165px;
  height: 40px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  font-family: "Roboto", sans-serif ;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none; 
  border-radius: 4px; 
  padding: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 400px;
  
 
}
.svg-footer-button{
  margin-left: 16px;
  fill: #ffffff;
  right:5px;
  position: relative;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form{
  position: relative;
  display: flex;
   align-items: center; 
   justify-content: end;
    gap: 16px; 
    display: block;
}

 .modal-footer-button:hover,
 .modal-footer-button:focus{
  background-color:#31D0AA; 
 }
.backdrop{
  display: none;
  position:fixed;
  border-radius: 4px;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
/* .is-open {
  display: block;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
} */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;

  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;

  cursor: pointer;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-svg {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close:hover .modal-svg,
.modal-close:focus .modal-svg {
  fill: #ffffff;
}

.modal-text {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  margin-bottom: 16px;
  color: #2e2f42;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.modal-label {
  margin-bottom: 4px;

  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-input::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-input {
  padding: 11px 16px 11px 38px;
  width: 100%;
  height: 40px;
font-size: 12px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment {
  height: 120px;
  resize: none;

  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.comment-container {
  margin-bottom: 16px;
}

.modal-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;

  margin-bottom: 24px;
}

.checkbox-label {
  color: #8e8f99;
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
  
}
.checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  fill: transparent;
  width: 16px;
  height: 16px;
  margin-right: 8px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-label .checkbox{
  display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy {
  text-decoration: underline;
  color: #4d5ae5;
}

.input-checkbox:focus + .checkbox-label .checkbox {
  border-color: #4D5AE5; 
}

.form-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  cursor: pointer;

  min-width: 169px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: rgba(77, 90, 229, 1);
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
  background-color: #404bbf;
}

.svg-box {
  position: relative;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: rgba(46, 47, 66, 1);

  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus-within {
  border: 1px solid #4d5ae5;
}

.modal-input:focus-within + .form-icon {
  fill: #4d5ae5;
}
.email-footer-button:hover,
.email-footer-button:focus{
  background-color: #404bbf;
}
.modal-input .comment{
  font-size: 12px;
}
.input-checkbox:checked + .checkbox-label span{
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
/* Знаю что неправильно, оставил для подальшего анализа)))  */
/* .input-checkbox:focus + .checkbox-label .checkbox { */
  /* border-color: #4D5AE5;  */
/* } */