*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
}
@media  screen and (min-width: 1158) {
  img{
    display: block;
  }
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
@media  screen and (min-width: 1158) {
  ul{
    list-style-type: none;
  margin: 0;
  padding-left: 0;
  }
}
.container {
  /* width: 320px;
  /* max-width: 1158px; */
  /* padding-left: 15px;
  padding-right: 15px; */
  /* margin-left: auto;
  margin-right: auto; */
    /* padding-left: 16px;
  padding-right: 16px; */
      max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width:768px) {
    .container{
    max-width: 768px;
  }
}
@media screen and (min-width:1158px) {
  .container{
    max-width: 1158px;
    max-width: 1158px;
      padding-left: 15px;
      padding-right: 15px;
  }
}




.links{
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1158px){
  .links{
  display: flex;
  justify-content: space-between;
}
}
.informations{
  padding: 96px 0 ;

  width: 100%;
  display: flex;
justify-content: flex-start;
flex-direction: column;
}
@media screen and (min-width: 1158px){
  .informations{
  padding: 120px 0 ;
}
}

.navs{
  /* display: flex; 
  align-items: center; */
   display: flex;
  align-items: center;
}
@media screen and (min-width: 1158px) {
  .navs{
      display: flex; 
  align-items: center;
  }
}
.header{
  /* border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);  */
  position: relative;  
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.nav-title-container vis{
 background-color: #ffffff;
position: fixed; 
  width: 320px;
  height: 100%;
  padding: 72px 24px 40px 24px;
  text-align: center;
  font-size: 20px;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  /* .nav-title-container .is-open { 
  opacity: 1;
  visibility: visible; */
.header-container {
  display: flex;
}
.nav-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  display: inline-flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto;
}

.nav-title a:hover,
.nav-title a:active,
.nav-title a:focus {
  color: #404bbf;
}

.menu-button{
  position: relative;
    display: flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  left: 70px;
  cursor: pointer;
  fill: black;
}
/* modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 1050;
  opacity: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal.is-open {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  position: absolute;
  padding: 72px 24px 24px 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f,
    0px 2px 1px 0px #00000033;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-cross-box {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4fd;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-cross-box:active,
.icon-cross-box:hover,
.icon-cross-box:focus {
  background-color: #404bbf;
  border: none;
}
.icon-cross-box:hover .nav-close-icon {
  fill: #ffffff;
}
.icon-cross-box:active .nav-close-icon {
  fill: #ffffff;
}
.icon-cross-box:focus .nav-close-icon {
  fill: #ffffff;
}
.nav-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list-el.current {
  position: relative;
  color: #404bbf;
}
.nav-list-el.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
}

.nav-list-el {
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  gap: 40px;
}

.address-list-el {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-icons {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 8px;
}
  .nav-icon-box {
  height: 40px;
  width: 40px;
}





.modal-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.form-header {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-box {
  margin-bottom: 8px;
}

.label-form {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  width: 100%;
  display: block;
  margin-bottom: 4px;
}

.input-form {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  height: 40px;
  border-radius: 4px;
  width: 100%;
  padding-left: 38px;
  border: 1px solid #2e2f4266;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-box {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form:focus,
.input-form:active {
  border-color: #4d5ae5;
}

.input-form:active + .input-icon {
  fill: #4d5ae5;
}

.input-form:focus + .input-icon {
  fill: #4d5ae5;
}

.textarea-box {
  margin-bottom: 16px;
}

.textarea-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  resize: none;
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-comment:active,
.textarea-comment:focus {
  border-color: #4d5ae5;
}

.checkbox-form {
  height: 16px;
  width: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.checkbox-box {
  margin-bottom: 24px;
}

.checkbox-box input[type='checkbox']:checked + label .checkbox-form {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.checkbox-box input[type='checkbox']:focus + label .checkbox-form {
  border-color: #4d5ae5;
}

.checkbox-descr {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: left;
  color: #8e8f99;
}

.privacy-policy {
  display: inline-block;
  text-decoration: underline;
  color: #4d5ae5;
}

.form-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  font-weight: 500;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover {
  background-color: #404bbf;
}

.form-button:focus {
  background-color: #404bbf;
} 

.container-links{
    display: flex;
}
@media screen and (min-width:768px) {
  .container-links{
width: 100%;
  }
}
@media screen and (min-width: 1158px){
  .container-links{
    width: 100%;
    display: flex;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 16px;
  justify-content: space-between;
  }
}
@media screen and (min-width: 1158px){
  .container .container-links{
    width: 100%;
    display: flex;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  justify-content: space-between;
  }
}


.header a {
  padding-top: 24px;
  padding-bottom: 24px;
  display:block;
}
@media screen and (min-width: 1158px){
  .header a {
  padding-top: 24px;
  padding-bottom: 24px;
  display:block;
}
}
/* end modal */

.logo-header {
  /* color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px; */
    font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: #4d5ae5;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
  padding-top: 24px;
  margin-right: 76px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1158px){
  .logo-header {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
  }
    .logo-header:hover,
.logo-header:focus {
  color: #404bbf;
}
}

.logo-header-two {
  color: var(--NAVY-BLUE, #2e2f42);
  
}
.logo-header:hover,
.logo-header:focus {
  color: #404bbf;
}
address {
  font-style: normal;
}
.page-link .link:hover,
.page-link .link:focus {
  color: #404bbf;
}
@media screen and (min-width: 1158px) {
  .page-link .link:hover,
.page-link .link:focus {
  color: #404bbf;
}
}
.page-link{
  display:none;
  gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.page-contacts{
  display: none;
}

/* .contacts{
  display: flex;
  gap: 40px;
   
}*/
.link {
  color: #2e2f42;
}
.logo-header .logo-header-two:hover,
.logo-header .logo-header-two:focus {
  color: #404bbf;
}
.link-contacts {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.link.current-link::after { 
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  background: #404BBF;
  width: 100%;
  height: 4px;
}
@media screen and (min-width:1158px) {
  .link.current-link::after { 
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  background: #404BBF;
  width: 100%;
  height: 4px;
}
}

.link.current-link { 
  position: relative;
  color: #404BBF;
}
@media screen and (min-width:1158px){
  .link.current-link { 
  position: relative;
  color: #404BBF;
}
}
@media screen and (min-width:1158px) {
 .link-contacts:hover,
.link-contacts:focus {
  color: #404bbf;
} 
}
.link {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
@media screen and (min-width:1158px){
  .link {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
}
.main-information {
  background-color: #2e2f42;
  /* background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
  url(/images/people-office.jpg); */
     background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
  url(../images/Dark-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* padding: 188px 0; */
  padding: 72px 0;
   /* max-width: 1440px;  */
   background-position: center;
   margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.main-information{
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
  url(../images/Dark-bg2x.jpg);
} 
}
.main-strategy {
  font-weight: 500;
  /* font-size: 20px; */
  font-size: 36px;
  /* line-height: 1.2; */
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px; 
     text-align: center;
    color: #2e2f42;
    font-weight: 700;
    text-align: left;
}


.link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  
}

.main {
  background: var(--NAVY-BLUE, #2e2f42);
  

  font-family: Roboto;
  flex-shrink: 0;
}
.main-h {
  /* font-size: 56px;
  line-height: 1.07;
  text-align: center;
margin: 0 auto 48px; */
/* max-width: 496px; */
font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #ffffff;
max-width: 216px;
margin: 0 auto 72px;
}

.button-main-order {
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1158px) {
  .button-main-order{
background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.button-main-order:hover,
.button-main-order:focus {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



.h-team  {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
  text-align: center;
  margin-bottom: 72px;
}
.img-teams{
  display: flex;
justify-content: flex-start;
flex-direction: column;
  /* gap: 24px; */
  width: 100%;
  gap: 72px;
}

.img-team{
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.h-portfolio {
  /* font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em; */
  color: #2e2f42;
  margin-bottom: 72px;
  font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
line-height: 111%;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
}

.information-paragraph {
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 150%;
  margin: auto;
font-weight: 500;
}
@media screen and (min-width: 1158px) {
  .information-paragraph {
  letter-spacing: 0.02em;
  width: 100%;
}
}

.main-team {
  background-color: #f4f4fd;
  padding: 96px 0  ;
  width: 320px;
}

.main-description  {
  display: flex;
flex-direction:column;
gap:72px;
}


.main-personal{
  padding: 32px 0 ;
}

.app{
  padding: 32px 16px;
    border: 1px solid #e7e9fc; 
    border-top: none; 
    
}


.portfolio-abzac {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
margin-bottom: 8px;
}

.main-site-app {
  /* width: calc((100% - 48px) / 3); */
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.main-site-apps{
   /* display: flex;
   flex-wrap: wrap;
   column-gap: 24px;
   row-gap: 48px; */
   display: flex;
   flex-direction: column;
   gap: 48px;
}

.team-paragraph {
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
text-align: center; 
margin-bottom: 8px ;
}
@media screen and (min-width: 1158px) {
  .team-paragraph {
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
text-align: center; 
}
}
.site-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.site-apps {
  padding-top: 120px;
  padding-bottom: 120px; 
}
@media screen and (min-width: 1158px){
  .site-appss{
  position: relative;
  overflow: hidden;
}
}

.team-name {
  line-height: 1.2;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center; 
}
@media screen and (min-width: 1158px){
  .team-name {
  line-height: 1.2;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center; 
}
}
.name-personal{
  padding: 32px 0;
}
.img-team {
  lightgray -128.784px -0.151px / 197.563% 133.752% no-repeat;
  background-color: #ffffff;
  /* width: calc((100% - 72px) / 4); */
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 264px;
  margin: 0 auto;
}
@media screen and (min-width:1158px) {
  .img-team{
    lightgray -128.784px -0.151px / 197.563% 133.752% no-repeat;
  background-color: #ffffff;
width: calc((100% - 72px) / 4);
  }
}
.site-abzac {
  line-height: 1.2;
}
footer {
  /* background: var(--NAVY-BLUE, #2e2f42);
  padding: 100px 0 ; */
  background-color: #2e2f42;
  padding: 96px 0;
}
@media screen and (min-width:1158px) {
  footer {
  background: var(--NAVY-BLUE, #2e2f42);
  padding: 100px 0 ;

}
}

.footer .container{
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: baseline;

}
@media screen and (min-width:768px) {
    .footer .container {
    max-width: 768px;
    justify-content: start;
    text-align: left;
      align-items: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: 107px;
      margin-right:107px;
      margin: 0 auto;
      padding-left: 16px;
      padding-right: 16px;
      row-gap: 72px;
      column-gap: 24px;
      align-items: baseline;
    }
    }
    @media screen and (min-width: 1158px){
         .footer .container{
  background: var(--NAVY-BLUE, #2e2f42);
  width: 1440px;
  max-width: 1158px;
  padding-left: 16px;
  padding-right: 16px;
    }}

.footer-logo {
  /* color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block; 
    margin-bottom: 16px; */
      display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  align-items: center;
}
.footer-logo-studio {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.54px;
}
.footer-text {
  /* color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  margin-bottom: 16px; */
     font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#F4F4FD;
  margin-bottom: 72px;
  text-align: left;
}
@media screen and (min-width:768px) {
  .footer-text{
width: 264px;
  padding: 0;
  margin: 0;
  }
}
@media screen and (min-width: 1158px){
  .footer-text{
      color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  margin-bottom: 16px;
  }
}
.site-appss{
  position: relative;
  overflow: hidden;
}
.main-site-app:hover{
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.app-site{
 position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: translateX(-100%);
  transition: transform 250ms ease-in-out;
  background-color: #404bbf;
}
.main-site-app{
  display: flex;
    /* width: calc((100% - 48px) / 3); */
  flex-direction: column;
  flex-shrink: 0;
  background: #FFF;
  width: 320px;
  max-width: 100%;
}



.main-site-app:hover .site-app{
  transform: translateY(0);
}
.site-app-p{
  color: #F4F4FD;
  line-height: 24px;
  letter-spacing: 0.32px;
  padding: 40px 32px 0 32px;
}
.svg-li{
display: flex; 
justify-content: center;
width: 40px;
height: 40px;
 gap: 16px;


}
.link-svg:hover,
.link-svg:focus{
  background-color:#404bbf;
}
.icon-svg-li{
  width: 40px;
  height: 40px;
  
}
.icon{
  width: 64px;
  height: 64px;
  display: none;
}
@media screen and (min-width:1158px) {
  .icon{
  width: 64px;
  height: 64px;
  display: flex;
}
}
.link-svg{
  /* width: 100%;
  height: 100%;
  background-color:#4d5ae5;
  border-radius: 50%;
   display: flex;
   align-items: center; 
   justify-content: center;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    gap: 16px; */
       width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   

}
.svg{
  fill:#f4f4fd;
}
@media screen and (min-width: 1158px) {
  .icon-svg-info{
     display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid #8E8F99;
  flex-wrap: wrap;
}
}

.svg-ul{
  display: flex;
   justify-content: center;
   gap: 24px; 
   /* margin: 12px ; */
   margin-bottom: 8px;
}
@media screen and (min-width: 1158px){
  .svg-ul{
  display: flex;
   justify-content: center;
   gap: 17px; 
   margin: 12px ;
}
}
.svg-ul:hover{
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-svg{
  padding: 32px 0;
gap: 8px;
}
@media screen and (min-width: 1158px) {
  .icon-svg{
    padding: 32px 0;
  }
}

.overlay{
  position: relative;
  overflow: hidden ;
}
@media screen and (min-width: 1158px) {
  .overlay{
  position: relative;
  overflow: hidden ;
}
}
.text-banking{
  position: absolute;
  top:0;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5; 
   letter-spacing: 0.02em;
   background-color: #4d5ae5;
    width: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    
}
.main-site-app:hover .text-banking{
transform: translateY(0);
}
.footer-container{
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
 /* margin-right: 120px; */
}
    @media screen and (min-width:768px) {
    .footer-container {
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    justify-content: center;
    text-align: center;
      align-items: flex-start;
      flex-direction: column;
      margin: 0;
    }
    }
    @media screen and (min-width: 1158px) {
      .footer-container{
         margin-right: 60px;
      }
    }
.icons-footer .link-svg:hover,
.icons-footer .link-svg:focus{
  background-color:#31D0AA;
}
.icons-footer .link-svg{
  display: flex;
  align-items: center; 
  justify-content: center;
  gap: 16px; 
}
.icons-footer{
   margin: auto;
}
@media screen and (min-width:768px) {
  .icons-footer{
 display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 0;
  }
  }
  @media screen and (min-width:1158px) {
      .icons-footer .link-svg:hover,
.icons-footer .link-svg:focus{
  background-color:#31D0AA;
}
.icons-footer .link-svg{
  display: flex;
   align-items: center; 
   justify-content: center;
    gap: 16px; 
  
}
.link-svg:hover,
.link-svg:focus{
  background-color:#404bbf;
    }
    .link-svg{
  width: 100%;
  height: 100%;
  background-color:#4d5ae5;
  border-radius: 50%;
   display: flex;
   align-items: center; 
   justify-content: center;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    gap: 16px;
    }
  .icons-footer .link-svg:hover,
.icons-footer .link-svg:focus{
  background-color:#31D0AA;
}
.icons-footer .link-svg{
  display: flex;
  align-items: center; 
  justify-content: center;
  gap: 16px; 
}

}
.footer-ul{
  /* display: flex;
   justify-content: center;
    gap: 16px;
   margin: 12px ; */
    display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 8px;
}
.footer .container{


}
.social-media{
  /* color:#ffffff;
  font-weight: 500;
  line-height: 1.5;
   letter-spacing: 0.02em;
   margin-bottom: 16px; */
    letter-spacing: 0.02em;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 16px;
}
.footer-ul .link-svg{
  gap: 16px; 
}

.footer-email{
  display: flex;
  flex-wrap: wrap;
  margin-top: 72px;
    gap: 16px;
}
@media screen and (min-width:768px) {
  .footer-email{
    display: block;
  margin-top:0;

}
}
@media screen and (min-width: 1158px) {
  .footer-email{
    margin-left:auto;
  }
}

.email-text{
    letter-spacing: 0.02em;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 16px;
    margin: auto;
  
}
@media screen and (min-width:768px) {
  .email-text{
    letter-spacing: 0.02em;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1158px) {
  .email-text{
      margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px; 
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  bottom: 40px;
  }
}

.email-form{
  display: flex;
  gap: 24px;
  flex-wrap: wrap;

  
}
.email-input{
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff; 
  
}
::placeholder{
  color: #ffffff; 
}
.email-footer-button{
  /* color: #ffffff; 
  min-width: 165px;
  height: 40px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  font-family: "Roboto", sans-serif ;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none; 
  border-radius: 4px; 
  padding: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 400px; */
min-width: 165px;
    height: 40px;
    background-color: #4D5AE5;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
  
 
}
.svg-footer-button{
  margin-left: 16px;
  fill: #ffffff;
  right:5px;
  position: relative;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form{
  position: relative;
  display: flex;
   align-items: center; 
   justify-content: end;
    gap: 16px; 
    display: block;
}

 .modal-footer-button:hover,
 .modal-footer-button:focus{
  background-color:#31D0AA; 
 }
.backdrop{
  display: none;
  position:fixed;
  border-radius: 4px;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
/* .is-open {
  display: block;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
} */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;

  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;

  cursor: pointer;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-svg {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close:hover .modal-svg,
.modal-close:focus .modal-svg {
  fill: #ffffff;
}

.modal-text {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  margin-bottom: 16px;
  color: #2e2f42;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.modal-label {
  margin-bottom: 4px;

  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.label-footer{
  
  display: flex;
    align-content: stretch;
    justify-content: center;
    align-items: flex-end;
    margin: auto;
}

.modal-input::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-input {
  padding: 11px 16px 11px 38px;
  width: 100%;
  height: 40px;
font-size: 12px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment {
  height: 120px;
  resize: none;

  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.comment-container {
  margin-bottom: 16px;
}

.modal-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;

  margin-bottom: 24px;
}

.checkbox-label {
  color: #8e8f99;
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
  
}
.checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  fill: transparent;
  width: 16px;
  height: 16px;
  margin-right: 8px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-label .checkbox{
  display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy {
  text-decoration: underline;
  color: #4d5ae5;
}

.input-checkbox:focus + .checkbox-label .checkbox {
  border-color: #4D5AE5; 
}

.form-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  cursor: pointer;

  min-width: 169px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: rgba(77, 90, 229, 1);
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
  background-color: #404bbf;
}

.svg-box {
  position: relative;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: rgba(46, 47, 66, 1);

  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus-within {
  border: 1px solid #4d5ae5;
}

.modal-input:focus-within + .form-icon {
  fill: #4d5ae5;
}
.email-footer-button:hover,
.email-footer-button:focus{
  background-color: #404bbf;
}
.modal-input .comment{
  font-size: 12px;
}
.input-checkbox:checked + .checkbox-label span{
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .backdrop{
  display: none;
  position:fixed;
  border-radius: 4px;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
/* .is-open {
  display: block;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
} */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;

  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;

  cursor: pointer;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-svg {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close:hover .modal-svg,
.modal-close:focus .modal-svg {
  fill: #ffffff;
}

.modal-text {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  margin-bottom: 16px;
  color: #2e2f42;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.modal-label {
  margin-bottom: 4px;

  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.label-footer{
  
  display: flex;
    align-content: stretch;
    justify-content: center;
    align-items: flex-end;
    margin: auto;
}

.modal-input::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-input {
  padding: 11px 16px 11px 38px;
  width: 100%;
  height: 40px;
font-size: 12px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment {
  height: 120px;
  resize: none;

  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.comment-container {
  margin-bottom: 16px;
}

.modal-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;

  margin-bottom: 24px;
}

.checkbox-label {
  color: #8e8f99;
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
  
}
.checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  fill: transparent;
  width: 16px;
  height: 16px;
  margin-right: 8px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-label .checkbox{
  display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy {
  text-decoration: underline;
  color: #4d5ae5;
}

.input-checkbox:focus + .checkbox-label .checkbox {
  border-color: #4D5AE5; 
}

.form-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  cursor: pointer;

  min-width: 169px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: rgba(77, 90, 229, 1);
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
  background-color: #404bbf;
}

.svg-box {
  position: relative;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: rgba(46, 47, 66, 1);

  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus-within {
  border: 1px solid #4d5ae5;
}

.modal-input:focus-within + .form-icon {
  fill: #4d5ae5;
}
.email-footer-button:hover,
.email-footer-button:focus{
  background-color: #404bbf;
}
.modal-input .comment{
  font-size: 12px;
}
.input-checkbox:checked + .checkbox-label span{
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
}
@media screen and (min-width: 1158px){
  .backdrop{
  display: none;
  position:fixed;
  border-radius: 4px;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
/* .is-open {
  display: block;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
} */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;

  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;

  cursor: pointer;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-svg {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close:hover .modal-svg,
.modal-close:focus .modal-svg {
  fill: #ffffff;
}

.modal-text {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  margin-bottom: 16px;
  color: #2e2f42;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.modal-label {
  margin-bottom: 4px;

  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.label-footer{
  
  display: flex;
    align-content: stretch;
    justify-content: center;
    align-items: flex-end;
    margin: auto;
}

.modal-input::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-input {
  padding: 11px 16px 11px 38px;
  width: 100%;
  height: 40px;
font-size: 12px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment {
  height: 120px;
  resize: none;

  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.comment-container {
  margin-bottom: 16px;
}

.modal-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;

  margin-bottom: 24px;
}

.checkbox-label {
  color: #8e8f99;
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
  
}
.checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  fill: transparent;
  width: 16px;
  height: 16px;
  margin-right: 8px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-label .checkbox{
  display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy {
  text-decoration: underline;
  color: #4d5ae5;
}

.input-checkbox:focus + .checkbox-label .checkbox {
  border-color: #4D5AE5; 
}

.form-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  cursor: pointer;

  min-width: 169px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: rgba(77, 90, 229, 1);
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
  background-color: #404bbf;
}

.svg-box {
  position: relative;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: rgba(46, 47, 66, 1);

  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus-within {
  border: 1px solid #4d5ae5;
}

.modal-input:focus-within + .form-icon {
  fill: #4d5ae5;
}
.email-footer-button:hover,
.email-footer-button:focus{
  background-color: #404bbf;
}
.modal-input .comment{
  font-size: 12px;
}
.input-checkbox:checked + .checkbox-label span{
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
}
/* Знаю что неправильно, оставил для подальшего анализа)))  */
/* .input-checkbox:focus + .checkbox-label .checkbox { */
  /* border-color: #4D5AE5;  */
/* } */

@media screen and (min-width:768px) {
.main-h{
  font-family: var(--font-family);
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #ffffff;
max-width: 496px;
margin: 0 auto 112px;
margin-bottom: 36px;
}
  .main-information {
  background-color: #2e2f42;
     background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
  url(../images/Dark-bg2x-tablet.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 112px 0;
   background-position: center;
   margin: 0 auto;
   width: 768px;
}
.button-main-order {
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.navs{
      display: flex;
    align-items: center;
    margin-right: 122px;
}
.description-page{
  /* width: calc((100% - 72px) / 4); */
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  width: calc((100% - 24px) / 2);
 
}
.main-description{
display: flex;
flex-direction:row;
flex-wrap:wrap;
row-gap:72px;
column-gap:24px;}
.main-strategy{
      
    /* font-size: 20px; */
    font-size: 36px;
    /* line-height: 1.2; */
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    /* text-align: center; */
    color: #2e2f42;
    font-weight: 700;
}
.main-team{
  background-color: #f4f4fd;
    padding: 120px 0;
    width: 768px;
}
.img-teams{
  display: flex;
flex-direction:row;
flex-wrap:wrap;
row-gap:64px;
column-gap: 24px;
}
.main-team .container{
padding-left: 108px;
padding-right:108px ;
width: calc((100% - 24) / 2);
}
.h-team{
  font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: var(--navy-blue);
margin-bottom: 72px ;
}
.h-portfolio{
  font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: var(--navy-blue);
margin-bottom: 72px;
}
.site-apps .container{
    width: 768px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}
}
@media screen and (min-width:1158px) {
  .h-portfolio {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}
}
@media screen and (min-width: 1158px) {
  .site-apps .container{
    width: 1158px;
  }
}
@media screen and (min-width: 1158px){
  .main-team .container{
    width: 1158px;
    width: calc((100% - 24) / 4);
  }
}
@media screen and (min-width: 1158px){
  .main-description{
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1158px) {
  .main-strategy{
      font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  }
}
@media screen and (min-width: 1158px) {
  .description-page{
    width: calc((100% - 72px) / 4);
}
 }list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;




.main-site-apps{
   display: flex;
flex-direction:row;
flex-wrap:wrap;
 row-gap:72px;
column-gap: 24px; 
}
@media screen and (min-width: 1158px) {
  .main-site-apps{
 display: flex;
    column-gap: 24px;
    row-gap: 48px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.main-site-app{
    width: calc((100% - 24px) / 2);
}
@media screen and (min-width: 1158px) {
  .main-site-app {
  width: calc((100% - 48px) / 3);
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}
}


.menu-button{
  display: flex;
}
.page-contacts{
  display: block;
}
.page-link{
  display: none;
        gap: 40px;
        
}
.header a{
  padding: 0 ;
}
.contacts{
      display: none;
    gap: 12px;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
}
.logo-header-{
margin-right: 120px;
}
.logo-header-two{
}
 .link {
        text-decoration: none;
        color: #2E2F42;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
        letter-spacing: 0.02em;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    .nav-link:hover,
    .nav-link:focus,
    .nav-link:active {
        color: #404BBF;
    } 

  @media screen and (min-width:1158px) {
  .main-information {
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
  url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 188px 0;
   max-width: 1440px; 
   background-position: center;
   margin: 0 auto;
   width: 1158px;
}
}
  @media screen and (min-width: 1158px){
    .contacts{
      display: flex;
      flex-direction: row;
      padding-top: 15px;
    padding-bottom: 15px;
    }

  }
  @media screen and (min-width: 1158px) {
    .logo-header{
      margin-right: 76px;
    }
  
  }
  @media screen and (min-width:1158px) {
  .page-link{
    display: flex;
  }
}
  @media screen and (min-width: 1158px){
  .img-teams{
        display: flex;
    gap: 64px 24px;
    flex-wrap: nowrap;
  }
}
  @media screen and (min-width: 1158px) {
  .main-team{
      background-color: #f4f4fd;
  padding: 120px 0 ;
  width: 1440px;
    max-width: 1158px;
  
  }
}

